<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="logging.path" source="logging.path" />
    <springProperty name="spring.application.name" source="spring.application.name"/>
    <conversionRule conversionWord="isVirtualThread" converterClass="com.yubi.demo.interceptor.VirtualThreadLogParser" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                { "name" : "${spring.application.name}", "timestamp":"%black(%d{ISO8601})", "level": "%highlight(%-5level)", "source": { "file" : "%yellow(%C{1}):", "thread": "%blue(%t)" }, "message":  "%msg %throwable", %X{securityContext} “requestID”: "%X{X-Request-Id}", "isvirtual": "%isVirtualThread"}%n
            </Pattern>
        </layout>
    </appender>


    <!-- LOG everything at INFO level -->
    <logger name="com.yubi" level="INFO" />
    <root level="error">
        <appender-ref ref="Console" />
    </root>

</configuration>
